.vehicleMonitor {
  height: 100%;
  
  .sider {
    background: #fff;
    box-shadow: 2px 0 8px rgba(0, 0, 0, 0.1);
    overflow: auto;
  }
  
  .content {
    position: relative;
    overflow: hidden;
  }
}